html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.czerwony {
  color: red;
}

h1 {
  color: purple;
  padding: 10px;
}
h2 {
  color: #4c26b48f;
  background-color: white;
}
section {
  background-color: whitesmoke;
  padding: 10px;
}
.Raju {
  width: 250px;
  height: 350px;
}

#szkolenie {
  background-color: red;
}

p {
  color: blue;
}

.paragraph {
  color: chartreuse;
}

a {
  color: green;
}

section a {
  color: orange;
}
.my-article {
  color: hotpink;
}

.my-article p {
  color: yellow;
  background-color: darkblue;
}

#name {
  color: red;
}
.about {
  color: purple;
}

footer {
  padding: 10px;
  color: red;
}

body {
  background-color: whitesmoke;
}
.link {
  padding-left: 10px;
}
